header {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 55px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 80px;
  background-color: rgb(212, 212, 238);
}

body {
  background-color: rgb(189, 189, 213);
}

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 4rem;
  padding-top: 30px;
}

img {
  height: 54rem;
}

.image1 {
  height: 55rem;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  img {
    height: 20rem;
  }
  .image1 {
    height: 10rem;
  }
  .container {
    padding-top: 0px;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  img {
    height: 20rem;
  }
  .image1 {
    height: 20rem;
  }
  .container {
    padding-top: 0px;
    gap: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  header {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 30px;
  }
  img {
    height: 15rem;
  }
  .image1 {
    height: 15rem;
  }
  .container {
    padding-top: 0px;
    gap: 1rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1025px) {
  header {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
  }
  img {
    height: 20rem;
  }
  .image1 {
    height: 20rem;
  }
  .container {
    padding-top: 0px;
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  header {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  img {
    height: 25rem;
  }
  .image1 {
    height: 25rem;
  }
  .container {
    margin-top: 60px;
    padding-top: 0px;
    gap: 1rem;
  }
}
