.headline {
  animation-name: color-change;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
}

header {
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

@keyframes color-change {
  from {
    background-color: rgb(64, 73, 141);
    font-size: 40px;
  }
  to {
    background-color: rgb(152, 155, 216);
    font-size: 55px;
  }
}

.hover1:hover {
  animation-name: hover;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 0%;
}

@keyframes hover {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(2);
    font-size: 10px;
  }
}

.hover2:hover {
  animation-name: hover;
  animation-duration: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform-origin: 0%;
}

@keyframes hover {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(2);
    font-size: 10px;
    padding-bottom: 4px;
  }
}

header {
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

body {
  text-align: left;
  margin: 200px;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: rgb(189, 189, 213);
}

.profile-image {
  float: left;
  padding-right: 20px;
  margin-top: 20px;
  width: 200px;
}

h1 {
  text-decoration-line: underline;
}

h2,
h3 {
  text-align: left;
  margin-right: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

h4 {
  text-decoration-line: underline;
}

ul {
  list-style: square;
  text-align: left;
}

li {
  margin-left: 195px;
  margin-top: 5px;
}
