header {
  font-size: 62px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid black;
  border-color: black;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(179, 179, 238);
}

body {
  text-align: left;
  margin: 200px;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

.profile-image {
  float: left;
  padding-right: 20px;
  margin-top: 20px;
  width: 200px;
}

h1 {
  text-decoration-line: underline;
}

h2,
h3 {
  text-align: left;
  margin-right: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}

h4 {
  text-decoration-line: underline;
}

ul {
  list-style: square;
  text-align: left;
}

li {
  margin-left: 195px;
  margin-top: 5px;
}
